In [1]:
import pandas as pd
from sklearn import linear_model
import numpy as np

In [2]:
df = pd.read_csv("hiring.csv")

In [3]:
df.head()

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000

In [ ]:
import math
df.experience.