In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [3]:
df = pd.read_csv("homeprices.csv")

In [4]:
df.head()

   area   price
0  2600  550000
1  3000  565000
2  3200  610000
3  3600  680000
4  4000  725000

In [6]:
%matplotlib inline # allows Matplotlib plots to be displayed directly in the notebook.Without the %matplotlib inline command, plots created with Matplotlib in a Jupyter notebook may not be displayed directly within the notebook. Instead, depending on the environment or configuration, they might open in a separate window